{% extends 'main.html' %}
{% load static %}

{% block content %}

  <form class="form" action="#" method="POST">

    <div class="btn-container">       
      <button class="fancy-btn" role="button">Send 1 BCS</button>
    </div>
  
  </form>
    
  <div class="content">
      
      
    <div class="container">
      <h2 class="mb-5">List of recent transactions</h2>
      
      
      <div class="table-responsive">
        
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          
          <tbody>
            
            {% for tx in txs %}
          
              <tr scope="row" class='clickable-row' data-href="{% url 'singleTx' tx.id %}">
                <td>{{tx.id}}</td>
                <td>{{tx.amount}} BCS</td>
                <td>{{tx.description}}</p></td>
              </tr>
            
            {% endfor %}
            
          </tbody>
        </table>
      </div>
      
      {% if not request.user.is_authenticated %}
      <form action="{% url 'login' %}">
        <button class="fancy-btn">Login into staff account</button>
      </form>
      {% else %}
      <form action="{% url 'logout' %}">
        <button class="fancy-btn">Logout</button>
      </form>
      {% endif %}

    </div>

  </div>
    
{% endblock %}
  