/* ====== CUSTOM BUTTON ====== */

.btn-container{
    display: flex;
    align-items: center;
    padding-top: 3rem;
}

.fancy-btn {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin: auto;
}
  
.fancy-btn:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
  
.fancy-btn:hover:after {
    top: 0px;
    left: 0px;
}
  
@media (min-width: 768px) {
    .fancy-btn {
      padding: 13px 50px 13px;
    }
}

.login-btn{
  background-color: #ffe54c;
  width: auto;
}

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #3c373e;
    font-weight: 300; }
  
  p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 3rem 0; }
  
  h2 {
    font-size: 20px;
    color: #fff; }
  
  .custom-table {
    min-width: 900px; }
    .custom-table thead tr, .custom-table thead th {
      padding-bottom: 30px;
      border-top: none;
      border-bottom: none !important;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    .custom-table tbody th, .custom-table tbody td {
      color: #777;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      border: none;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody th small, .custom-table tbody td small {
        color: rgba(255, 255, 255, 0.3);
        font-weight: 300; }
      .custom-table tbody th a, .custom-table tbody td a {
        color: rgba(255, 255, 255, 0.3); }
      .custom-table tbody th .more, .custom-table tbody td .more {
        color: rgba(255, 255, 255, 0.3);
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .2rem; }
    .custom-table tbody tr {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
        color: #fff; }
        .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
          color: #fdd114; }
        .custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
          color: #fdd114; }
    .custom-table .td-box-wrap {
      padding: 0; }
    .custom-table .box {
      background: #fff;
      border-radius: 4px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .custom-table .box td, .custom-table .box th {
        border: none !important; }


/* =====  MAKE CURSOR POINTER WHEN HOVERING ON ROWS ===== */

.custom-table tr{
  cursor: pointer;
}


/* ===== LOGIN PAGE ===== */

.login-form{
  padding: 2rem 0;
}

.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border-top: 5px solid #fdd114;
  margin: 0 auto;
}

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Montserrat;
  padding: 0 20px;
  outline: none;
}

.login-block input:active, .login-block input:focus {
  border: 1px solid #fdd114;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #fdd114;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fdd114;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: #fdd114;
}


/* ===== EDIT TX DESCRIPTION ===== */

.form {
  display: flex;
  max-width: 800px;
  display: block;
  box-sizing: border-box;

  gap: 2rem;
  padding: 2rem 0;
  margin: auto;

  color: #fff;
}

.edit_input_box{
  display: flex;
  width: 100%;
  column-gap: .5rem;

  justify-self: center;
  border-radius: .5rem;
}

.edit_input{
  min-height: 50px;
  height: 100px;
  width: 100%;
  outline: none;
  resize: vertical;
  border: none;
  border-radius: 0.25rem;
  
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;

  background-color: rgba(0, 0, 0, 0.05);
  color: #fff;
}

.edit_input::placeholder{
  color: rgba(255, 255, 255, 0.3);
}
